@import 'roboto.css';


*{
    font-family: 'Roboto', sans-serif;
}
.title{
    color:indigo;
    text-decoration: underline;
    max-width: 300px;
    min-height: 300px;
    margin: auto;
    background: url('./../assets/img/picture.jpg');
    background-size: cover;
    text-align: center;
}
